/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
| @namespace: Section
|
*/

section {
  width: 100%;
}

.Section__first{
  padding-top: 5.25rem;
}

.Section__title {
  font-weight: var(--font-semi-bold);
  @include Font__40-56;
}

.Section__grid {
  @include PageGrid;
}

.Section__footer {
  margin-top: 3rem;
}
