/*
|--------------------------------------------------------------------------
| Base File
|--------------------------------------------------------------------------
| A set of standards applied over the top of the reset, to normalise the site.
|
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  @include Font__16-28;
  color: var(--color-text);
  font-weight: var(--font-normal);
  font-family: var(--font-primary);
  line-height: 1.75;
  background-color: var(--color-bg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}
