/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
| @namespace: Footer
|
*/

.Footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: var(--color-white);
  background-color: var(--color-footer);
}

.Footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Footer__subtitle {
  @include Font__18-24;
  margin-bottom: 1.5rem;
  font-weight: var(--font-bold);
}

.Footer__body {
  flex: 1;
}

.Footer__columns {
  @include PageGrid();
}

.Footer__column {
  grid-column: span 4;
}

.Footer__column--span {
  grid-column: span 8;
}

.Footer__link {
  @include Font__18-24;
  @include UtilityUnderline;
}

.Footer__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  font-weight: var(--font-light);
  @include Font__12-18;
}
