/*
|--------------------------------------------------------------------------
| Footer - Nav
|--------------------------------------------------------------------------
| @namespace: FooterNav
|
*/

.FooterNav__listitem {
  margin-bottom: 1rem;
}

.FooterNav__link {
  @include UtilityUnderline;
}
