<template>
  <main class="Main">
    <div class="Section">
      <div class="Section__inner PageContainer">
        <header class="Section__header">
          <h1 class="Section__title">
            {{ data.page_title }}
          </h1>
        </header>
        <div class="Section__body Typeset">
          <prismic-rich-text v-if="data.text" :field="data.text" />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Page',
  head() {
    return {
      title: this.data.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.data.meta_description
        }
      ]
    }
  },
  asyncData({ params, store }) {
    const content = store.state.pages.documents.find((object) => {
      return object.uid === params.slug
    })
    return { data: content.data }
  }
}
</script>
