/*
|--------------------------------------------------------------------------
| GlobalPhone
|--------------------------------------------------------------------------
| @namespace: GlobalPhone
|
*/

.GlobalPhone {

  .Header & {
    font-weight: var(--font-bold);
  }
}
