/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: Header
|
*/

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  background-color: var(--color-primary);
  opacity: .85;
  backdrop-filter: blur(8px);
  transition: color 0.6s ease-in-out, transform 0.6s ease-in-out, height 0.6s ease-in-out;
}

.Header:hover{
  opacity: 1;
  transition: var(--transition-medium);
}

.Header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}


/* Header Nav Links */

.Header__burger{
  display: block;
  width: 2rem;
  @media (--md) {
    display: none;
  }
}

.HeaderNav__link-brand {
  display: none;
  @media (--md) {
    @include Font__24-36;
    display: block;
    font-family: var(--font-secondary);
    @include UtilityUnderline;
  }
}

/* Mobile nav brand */

.HeaderNav__link-brand-mobile {
  display: block;
  @include Font__24-36;
  display: block;
  font-family: var(--font-secondary);
  @include UtilityUnderline;
  @media (--md) {
    display: none;
  }
}

.HeaderNav__link-brand:hover .link-brand-one,
.HeaderNav__link-brand:hover .link-brand-two {
  transition: var(--transition);
}

.HeaderNav__link-brand:hover .link-brand-one{
  color: var(--color-secondary);
}

.HeaderNav__link-brand:hover .link-brand-two{
  color: var(--color-text);
}

.HeaderNav__list {
  display: flex;
}

.HeaderNav__listitem {
  line-height: 1;
}

.HeaderNav__listitem + .HeaderNav__listitem {
  margin-left: 1rem;
}

.HeaderNav__link {
  @include Font__18-18;
  @include UtilityUnderline;
}

.link-brand-one{
  color: var(--color-text);
}

.link-brand-two{
  color: var(--color-secondary);
}

/* Headroom */

.headroom--not-top {
  background-color: var(--color-primary);
  transition: all 0.6s ease-in-out;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
