/*
|--------------------------------------------------------------------------
| Menu
|--------------------------------------------------------------------------
| @namespace: menu
|
*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background: var(--color-black);
  @media (--md) {
    display: none;
  }
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem 2rem 0;

  .svg {
    width: 32px;
    height: 25px;
    overflow: visible;
  }
}

.menu__body {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

.menu__footer {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0 1.5rem 1rem;
}

.menu-list__item {
  margin-bottom: 0.5em;
  font-size: 32px;
  line-height: 1;
}
