<template>
  <footer id="contact" ref="Footer" class="Footer">
    <div class="Footer__inner PageContainer">
      <div class="Footer__body">
        <ul class="Footer__columns">
          <li class="Footer__column">
            <nav class="FooterNav">
              <ul class="FooterNav__list">
                <li><GlobalPhone /></li>
                <li><GlobalMobile /></li>
                <li><GlobalEmail /></li>
                <li><GlobalAddress /></li>
              </ul>
            </nav>
          </li>
        </ul>
      </div>
      <footer class="Footer__footer">
        <span class="Footer__copyright">© {{ copyright }}</span>
        <div class="FooterBy">
          <p class="FooterBy__text">
            Site Design &amp; Build by
            <a class="FooterBy__link" href="https://kithkin.studio">Kith+Kin</a>
          </p>
        </div>
      </footer>
    </div>
  </footer>
</template>

<script>
import config from '@/config'

export default {
  name: 'Footer',
  data() {
    return {
      copyright: config.copyright
    }
  }
}
</script>
