<template>
  <header ref="header" class="Header">
    <div class="Header__body PageContainer">
      <div class="Header__burger">
        <Burger :open="this.$store.state.menu.open" />
      </div>
      <nuxt-link to="/" class="HeaderNav__link-brand">
        <span class="link-brand-one">SAM</span>
        <span class="link-brand-two">NUNN</span>
      </nuxt-link>
      <div class="Header__links">
        <nav class="HeaderNav"></nav>
        <div class="Header__external-links">
          <ul class="HeaderNav__list">
            <li class="HeaderNav__listitem">
              <Email />
            </li>
            <li class="HeaderNav__listitem">
              <nuxt-link to="" class="HeaderNav__link">
                Resume
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import Headroom from 'headroom.js'
import Email from '@/components/global/contact/Email'

export default {
  name: 'Header',
  components: {
    Email
  },
  mounted() {
    const myElement = this.$refs.header
    this.header = new Headroom(myElement, {
      offset: 64
    })
    this.header.init()
  }
}
</script>
