<template>
  <section class="Section__first Section-introduction">
    <div class="Section__inner">
      <div class="Section-introduction__content Section__grid">
        <PrismicImage :image="data.intro_image" :cover="true" />
        <aside class="Sidebar" data-appear>
          <div class="Sidebar__content">
            <div class="Sidebar__body">
              <p class="Sidebar__content__para" data-appear>
                <span class="Sidebar__content__span">Sam</span>
                <span
                  class="Sidebar__content__span Sidebar__content__span-color"
                  >&nbsp;Nunn</span
                ><br />
                Front&nbsp;End&nbsp;Devloper from the United Kingdom living
                in&nbsp;Toronto.
              </p>
            </div>
            <footer class="Sidebar__content__social" data-appear>
              <ul class="Sidebar__content__list">
                <li class="Sidebar__content__list-item"><GlobalLinkedin /></li>
                <li
                  class="Sidebar__content__list-item"
                  style="margin-top:0.25rem"
                >
                  <GlobalGit />
                </li>
                <li
                  class="Sidebar__content__list-item"
                  style="margin-top:0.25rem"
                >
                  <GlobalIconEmail />
                </li>
              </ul>
            </footer>
          </div>
        </aside>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import PrismicImage from '@/components/global/image/PrismicImage'
import Animations from '@/mixins/animations'

export default {
  name: 'Home',
  head() {
    return {
      title: this.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.meta_description
        }
      ]
    }
  },
  components: {
    PrismicImage
  },
  mixins: [Animations],
  computed: {
    ...mapState({
      data: (state) => state.home.document.data,
      documentId: (state) => state.home.document.id,
      meta_title: (state) => state.home.document.data.meta_title,
      meta_description: (state) => state.home.document.data.meta_description
    })
  },
  mounted() {
    this.appear()
  }
}
</script>
