<template>
  <svg
    @click="toggleMenu()"
    :class="{ 'svg--active': open }"
    class="svg"
    viewBox="0 0 34 23"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>Toggle Menu Icon</title>
    <line
      ref="upper"
      class="burger-line burger-line__upper"
      stroke-width="2"
      x1="0"
      y1="0.5"
      x2="32"
      y2="0.5"
    ></line>
    <line
      ref="middle"
      class="burger-line burger-line__middle"
      stroke-width="2"
      x1="0"
      y1="10.5"
      x2="32"
      y2="10.5"
    ></line>
    <line
      ref="lower"
      class="burger-line burger-line__lower"
      stroke-width="2"
      x1="0"
      y1="20.5"
      x2="32"
      y2="20.5"
    ></line>
  </svg>
</template>

<style scoped lang="css">
line {
  stroke: currentColor;
}
</style>

<script>
import { gsap } from 'gsap'

export default {
  name: 'Burger',
  props: {
    open: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.openBurger()
      } else {
        this.closeBurger()
      }
    }
  },
  methods: {
    openBurger() {
      const upper = this.$refs.upper
      const middle = this.$refs.middle
      const lower = this.$refs.lower
      const timeline = gsap.timeline()

      /* Set initial positions */
      timeline.to(
        upper,
        {
          duration: 0.6,
          transformOrigin: 'left top',
          rotation: 45,
          y: '-1.5px'
        },
        0.3
      )
      timeline.to(
        middle,
        {
          duration: 0.6,
          opacity: 0
        },
        0
      )
      timeline.to(
        lower,
        {
          duration: 0.6,
          transformOrigin: 'left top',
          rotation: -45,
          y: '1px'
        },
        0.3
      )
    },
    closeBurger() {
      const upper = this.$refs.upper
      const middle = this.$refs.middle
      const lower = this.$refs.lower
      const timeline = gsap.timeline()

      /* Set initial positions */
      timeline.to(
        upper,
        {
          duration: 0.6,
          rotation: 0,
          y: '0'
        },
        0
      )
      timeline.to(
        middle,
        {
          duration: 0.6,
          opacity: 1
        },
        0.3
      )
      timeline.to(
        lower,
        {
          duration: 0.6,
          rotation: 0,
          y: '0'
        },
        0
      )
    },
    toggleMenu() {
      this.$store.dispatch('menu/TRIGGER_MENU_OPEN')
    }
  }
}
</script>
