<template>
  <section ref="menu" class="menu initial-hidden">
    <header class="menu__header">
      <Burger :open="this.$store.state.menu.open" />
      <nuxt-link to="/" class="HeaderNav__link-brand-mobile">
        <span class="link-brand-one">SAM</span>
        <span class="link-brand-two">NUNN</span>
      </nuxt-link>
    </header>
    <div class="menu__body">
      <ul class="menu-list">
        <li class="menu-list__item">
          <nuxt-link
            @click.native="toggleMenu"
            exact
            title="home"
            class="menu-list__link"
            to="/"
            >Home</nuxt-link
          >
        </li>
      </ul>
    </div>
    <footer class="menu__footer">
      <ul class="menu-list">
        <li class="menu-list__item">
          <GlobalEmail />
        </li>
      </ul>
    </footer>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { gsap } from 'gsap'

export default {
  name: 'Menu',
  data(done) {
    return {
      timeline: gsap.timeline({ paused: true })
    }
  },
  computed: {
    ...mapState({
      open: (state) => state.menu.open
    })
  },
  watch: {
    open(newValue, oldValue) {
      this.toggleTimeline()
    }
  },
  mounted() {
    this.setup()
  },
  methods: {
    toggleMenu() {
      this.$store.dispatch('menu/TRIGGER_MENU_OPEN')
    },
    toggleTimeline() {
      this.timeline.reversed(!this.timeline.reversed())
    },
    setup() {
      const menu = this.$refs.menu
      const menuItems = menu.getElementsByClassName('menu-list__link')
      const socialItems = menu.getElementsByClassName('social-list__link')

      this.timeline.from(menu, {
        duration: 0.6,
        autoAlpha: 0,
        stagger: 0.05
      })

      this.timeline.from(menuItems, {
        duration: 1,
        y: 16,
        opacity: 0,
        stagger: 0.05
      })

      this.timeline.from(
        socialItems,
        {
          duration: 1,
          y: 16,
          opacity: 0,
          stagger: 0.05
        },
        0.6
      )
      this.timeline.reverse()
    }
  }
}
</script>
