<template>
  <div :class="containClass" class="Image">
    <div :id="`Image__frame-${id}`" class="Image__frame">
      <client-only>
        <picture>
          <source
            v-if="image.mobile"
            :srcset="image.mobile.url"
            media="(max-width: 768px)"
          />
          <img
            :data-lowsrc="image.url + '&fit=clip&w=20'"
            :data-src="image.url + '&fit=clip&w={width}'"
            :alt="image.alt"
            :class="className"
            @lazybeforeunveil="loaded()"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            class="Image__image lazyload"
            data-sizes="auto"
          />
        </picture>

        <v-style v-if="cover !== true">
          #Image__frame-{{ id }} { padding-top: {{ aspectRatioSmall }}; } @media
          only screen and (min-width: 768px) { #Image__frame-{{ id }} {
          padding-top: {{ aspectRatioLarge }}; } }
        </v-style>
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResponsiveImage',
  props: {
    image: {
      type: Object,
      default: () => ({})
    },
    width: {
      type: Number,
      default: () => null
    },
    height: {
      type: Number,
      default: () => null
    },
    cover: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      className: '',
      id: ''
    }
  },
  computed: {
    aspectRatioSmall() {
      if (this.image.mobile) {
        return `${(this.image.mobile.dimensions.height /
          this.image.mobile.dimensions.width) *
          100}%`
      } else {
        return `${(this.image.dimensions.height / this.image.dimensions.width) *
          100}%`
      }
    },
    aspectRatioLarge() {
      return `${(this.image.dimensions.height / this.image.dimensions.width) *
        100}%`
    },
    styleId() {
      return Math.random()
        .toString(36)
        .substr(2, 9)
    },
    containClass() {
      if (this.cover) {
        return 'Image--cover'
      } else {
        return ''
      }
    }
  },
  mounted() {
    this.id = this._uid
  },
  methods: {
    loaded() {
      this.className = 'image--loaded'
      this.$emit('loaded')
    }
  }
}
</script>
