<template>
  <span class="GlobalCopyright">{{ copyright }}</span>
</template>

<script>
import config from '@/config'

export default {
  name: 'Copyright',
  computed: {
    copyright() {
      return config.copyright
    }
  }
}
</script>
