/*
|--------------------------------------------------------------------------
| PageContainer
|--------------------------------------------------------------------------
| @namespace: PageContainer
|
*/

.PageContainer {
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.PageContainerFluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
