/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
| @namespace: Button
|
*/

.Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 0.8em 1.5em;
  overflow: hidden;
  font-weight: var(--font-semi-bold);
  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 0.75;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  border: 2px solid;
  border-radius: 1.5rem;
  transition: background-color var(--transition), box-shadow var(--transition);
  @media (--sm) {
    padding: 0.8em 1.2em;
  }

  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.Button--primary {
  color: var(--color-text);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.Button--secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
