/*
|--------------------------------------------------------------------------
| Font Sets
|--------------------------------------------------------------------------
| @namespace: Font__xx-xx
| Font sizes and line height are made as mixins here (on purpose), this helps to consolidate the combinations used across the site.
*/

@mixin Font__12-18 {
  font-size: 12px;
  line-height: 18px;
}

@mixin Font__14-14 {
  font-size: 14px;
  line-height: 14px;
}

@mixin Font__14-24 {
  font-size: 14px;
  line-height: 24px;
}

@mixin Font__16-28 {
  font-size: 16px;
  line-height: 28px;
}

@mixin Font__18-18 {
  font-size: 18px;
  line-height: 18px;
}

@mixin Font__18-24 {
  font-size: 18px;
  line-height: 24px;
}

@mixin Font__24-36 {
  font-size: 24px;
  line-height: 36px;
}

@mixin Font__28-28 {
  font-size: 28px;
  line-height: 28px;
}

@mixin Font__40-56 {
  font-size: 40px;
  line-height: 56px;
}

@mixin Font__56-64 {
  font-size: 56px;
  line-height: 64px;
}

@mixin Font__64-72 {
  font-size: 64px;
  line-height: 72px;
}

@mixin Font__72-80 {
  font-size: 72px;
  line-height: 80px;
}

@mixin Font__88-104 {
  font-size: 88px;
  line-height: 104px;
}
