.Image {
  position: relative;
  width: 100%;
  overflow: hidden;

  &.Image--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.Image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s;

  &.ls-inview {
    opacity: 1;
  }

  &.lazyloaded {
    opacity: 1;
  }
}

.ls-blur-up-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'blur-up: auto', 'object-fit: cover';
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
}
