/*
|--------------------------------------------------------------------------
| Default Page Transition
|--------------------------------------------------------------------------
| @namespace: PageFade
|
*/

.PageFade-enter-active,
.PageFade-leave-active {
  transition: opacity var(--transition-medium);
}

.PageFade-enter,
.PageFade-leave-to {
  opacity: 0;
}

a{
  transition: var(--transition);
}

a:hover{
  color: var(--color-secondary);
  transition: var(--transition);
}
