@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto&display=swap');

bold,
strong, .bold, .strong {
  font-weight: var(--font-semi-bold);
}

.Typeset {

  > *:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 3rem 0;
    @media (--sm) {
      margin: 3rem 0;
    }
  }

  img,
  p,
  ul,
  ol,
  blockquote {
    margin-bottom: 1.5em;
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: 700;
  }

  mark {
    padding: 0.25em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    margin-left: 1em;

    li {
      padding-left: 0.25em;
    }
  }

  p,
  a,
  li,
  span{
    font-family: var(--font-primary);
  }

  h1{
    @include Font__18-24;
    font-weight: var(--font-extra-bold);
    font-family: var(--font-secondary);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include Font__18-24;
    font-weight: var(--font-bold);
    font-family: var(--font-secondary);
  }

  a {
    position: relative;
    color: inherit;
    text-decoration: none;

    &:after {
      position: absolute;
      bottom: -0.1em;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid;
      content: '';
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

hr {
  margin-top: 3.5rem;
  padding-bottom: 3.5rem;
  border-color: inherit;
  border-top: 1px solid;
}

::selection {
  color: var(--color-white);
  background: var(--color-secondary);
}

::-moz-selection {
  color: var(--color-white);
  background: var(--color-secondary);
}
