:root {
  --color-primary: #341516;
  --color-secondary: #b79854;
  --color-text: #f5f5f5;
  --color-black: #2e2e2e;
  --color-white: #ffffff;
  --color-bg: #FFFFFF;
  --color-footer: #2e2e2e;

  --color-border: #f5f5f5;

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
  --font-extra-black: 950;

  --transition: 0.3s ease-out;
  --transition-medium: 0.6s ease-out;
  --transition-slow: 0.9s ease-out;
}
