<template>
  <a
    v-if="Email"
    :href="`mailto:${Email}`"
    :class="classNames"
    target="_blank"
    rel="noopener"
    class="GlobalSocial GlobalSocial--email"
    aria-label="Email"
    ><Icon
  /></a>
</template>

<script>
import { mapState } from 'vuex'
import Icon from '@/assets/images/icons/email.svg?inline'

export default {
  name: 'GlobalIconEmail',
  components: {
    Icon
  },
  props: {
    classNames: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      Email: (state) => state.globals.document.email
    })
  }
}
</script>
