<template>
  <a
    v-if="Git"
    :href="Git"
    :class="classNames"
    target="_blank"
    rel="noopener"
    class="GlobalSocial GlobalSocial--git"
    aria-label="Git"
    ><Icon
  /></a>
</template>

<script>
import { mapState } from 'vuex'
import Icon from '@/assets/images/icons/git.svg?inline'

export default {
  name: 'GlobalGit',
  components: {
    Icon
  },
  props: {
    classNames: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      Git: (state) => state.globals.document.git
    })
  }
}
</script>
