<template>
  <a
    v-if="linkedin"
    :href="linkedin"
    :class="classNames"
    target="_blank"
    rel="noopener"
    class="GlobalSocial GlobalSocial--linkedin"
    aria-label="LinkedIn"
    ><Icon
  /></a>
</template>

<script>
import { mapState } from 'vuex'
import Icon from '@/assets/images/icons/linkedin.svg?inline'

export default {
  name: 'GlobalLinkedin',
  components: {
    Icon
  },
  props: {
    classNames: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      linkedin: (state) => state.globals.document.linkedin
    })
  }
}
</script>
