<template>
  <main class="Main">
    <Introduction />
  </main>
</template>

<script>
import { mapState } from 'vuex'
import Introduction from '@/components/layout/Introduction'
export default {
  name: 'Home',
  head() {
    return {
      title: this.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.meta_description
        }
      ]
    }
  },
  computed: {
    ...mapState({
      meta_title: (state) => state.home.document.data.meta_title,
      meta_description: (state) => state.home.document.data.meta_description
    })
  },
  components: {
    Introduction
  }
}
</script>
