/*
|--------------------------------------------------------------------------
| Contact
|--------------------------------------------------------------------------
| @namespace: Contact
|
*/

.Contact__columns {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.Contact__column {
  height: 100%;
}

.Contact__column--content {
  grid-column: 1 / -1;
  padding-right: 3rem;
  @media (--sm) {
    grid-column: span 5;
  }
}

.Contact__column--map {
  position: relative;
  grid-column: 1 / -1;
  @media (--sm) {
    grid-column: span 7;
  }
}

.ContactDetails {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ContactDetails + .ContactDetails {
  border-top: 1px solid var(--color-border);
}

.ContactDetails__header {
  margin-bottom: 2rem;
}

.ContactDetails__title {
  @include Font__18-24;
}

.ContactDetails__listitem {
  @include Font__18-24;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.ContactDetails__value {
  font-weight: var(--font-semi-bold);
}

.ContactDetails__maplink {
  grid-column: 1 / -1;
  margin-top: 1rem;
}
