<template>
  <transition name="fade" appear>
    <div v-if="display" class="cookie-notification">
      <div class="cookie-notification__content">
        <div v-if="message" class="cookie-notification__message">
          <nuxt-link :to="link">
            {{ message }}
          </nuxt-link>
        </div>
        <span class="cookie-notification__action">
          <button @click="cookieClose()" class="cookie-notification__button">
            <svg
              class="svg-Icon"
              viewBox="0 0 19 18"
              xmlns="http://www.w3.org/2000/svg"
            >
              <span class="screenreaderonly">Close Cookie Notification</span>
              <path stroke-width="2" stroke="black" d="M1 1l17 16M18 1L1 17" />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </transition>
</template>

<script>
import Cookies from 'js-cookie'

export default {
  name: 'Cookies',
  props: {
    message: {
      type: String,
      default:
        'By continuing to use this site you consent with our cookie policy.'
    },
    link: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      display: true
    }
  },
  created() {
    if (Cookies.get('cookie_module_display')) {
      this.display = false
    } else {
      this.display = true
    }
  },
  methods: {
    cookieClose() {
      this.display = false
      Cookies.set('cookie_module_display', true)
    }
  }
}
</script>

<style scoped lang="css">
.cookie-notification {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
  width: 16rem;
  height: 4rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.cookie-notification__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-notification__message {
  font-size: 12px;
  line-height: 16px;
}

.cookie-notification__action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-notification__action .svg-Icon {
  display: block;
  width: 1rem;
  height: 1rem;
}

.cookie-notification__action .svg-Icon:hover {
  cursor: pointer;
}

.cookie-notification__button {
  padding: 0;
}
</style>
