<template>
  <span v-if="address" :class="classNames" class="Global GlobalAddress">{{
    address
  }}</span>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GlobalAddress',
  props: {
    classNames: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      address: (state) => state.globals.document.address
    })
  }
}
</script>
