<template>
  <a
    v-if="email"
    :href="`mailto:${email}`"
    :class="classNames"
    class="Global GlobalEmail HeaderNav__link"
    >{{ email }}</a
  >
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GlobalEmail',
  props: {
    classNames: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      email: (state) => state.globals.document.email
    })
  }
}
</script>
