<template>
  <a :href="`tel:${number}`" :class="classNames" class="Global GlobalMobile">{{
    mobile
  }}</a>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GlobalMobile',
  props: {
    classNames: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      mobile: (state) => state.globals.document.mobile
    }),
    number() {
      return this.$options.filters.remove_whitespace(this.mobile)
    }
  }
}
</script>
