<template>
  <client-only>
    <a :href="`tel:${number}`" :class="classNames" class="Global GlobalPhone"
      >{{ text }}<span class="GlobalPhone__number">{{ phone }}</span></a
    >
  </client-only>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'GlobalPhone',
  props: {
    classNames: {
      type: String,
      default: null
    },
    text: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState({
      phone: (state) => state.globals.document.phone
    }),
    number() {
      return this.phone
      // return this.$options.filters.remove_whitespace(this.phone)
    }
  }
}
</script>
