/* Introduction Styles */

.Section-introduction{
  /* background: repeating-linear-gradient( -45deg, #251011 2px, var(--color-primary) 3px, var(--color-primary) 4px, #251011 7px); */
  background-color: var(--color-primary);
}

.Section-introduction__content{
  position: relative;
  grid-column: 1/12;
  width: 100%;
  height: 90vh;
}

.Sidebar{
  grid-column: 1/ span 12;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  backdrop-filter: blur(4px);
  transition: var(--transition-slow);

  @media (--lg) {
    grid-column: 8/-1;
  }
}

.Sidebar:hover{
  background-color: rgba(0,0,0,0.85);
  transition: var(--transition-slow);
}

.Sidebar__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 8rem 2rem 1rem;
  text-align: center;
  @media (--lg) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 8rem 2rem 1rem;
    text-align: left;
  }
}

.Sidebar__body{
  max-width: 400px;
  margin:0 auto;

  @media (--sm) {
    max-width: 600px;
  }
  @media (--sm) {
    max-width: 800px;
  }
  @media (--lg) {
    max-width: 100%;
    margin: 0;
  }
}

.Sidebar__content__para{
  @include Font__40-56;
  font-weight: var(--font-extra-bold)
}

.Sidebar__content__span{
  @include Font__56-64;
  margin-bottom: 1rem;
  font-family: var(--font-secondary);
}

.Sidebar__content__span-color{
  color:var(--color-secondary);
}

.Sidebar__content__social{
  width: 100%;
  margin-top: 4rem;
}

.Sidebar__content__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Sidebar__content__list-item{
  margin-right: .75rem;
}

.Sidebar__content__list-item:last-of-type{
  margin-right: 0;
}

.Sidebar__content__list-item svg{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
