/*
|--------------------------------------------------------------------------
| Site Grid
|--------------------------------------------------------------------------
| @namespace: Grid
|
*/

@mixin PageGrid {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);

  @media (--sm) {
    grid-template-columns: repeat(12, 1fr);
  }
}
