/*
|--------------------------------------------------------------------------
| Input
|--------------------------------------------------------------------------
| @namespace: Input
|
*/

.InputWrap {
  position: relative;
}

.Input {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  overflow: hidden;
  color: inherit;
  font-weight: var(--font-light);
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  text-align: left;
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.25rem;
  transition: border-color var(--transition);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: var(--color-primary);

  @media (--sm) {
    font-size: 18px;
  }

  &:focus {
    border-color: var(--color-primary);
    outline: none;
  }

  @include Hover {
    cursor: pointer;
  }
}

.Input--select {
  padding: 0 1rem;
  line-height: 40px;
  /* background-image: url('~assets/images/icons/icon-arrow-down.svg?data'); */
  background-repeat: no-repeat;
  background-position: top calc(50%) right 1rem;
  background-size: 1rem;

  @include Hover {
    cursor: pointer;
  }

  > option {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.Input--radio {
  @include UtilityScreenReaderOnly;
}

.Input--text {
  @include Hover {
    cursor: text;
  }
}

.Input--textarea {
  @include Hover {
    cursor: text;
  }
}

.InputLabel {
  display: block;
  margin-bottom: 1rem;
  line-height: 1;
}

::placeholder {
  color: inherit;
  font-family: inherit;
  opacity: 0.75;
}

.InputLabelCheckbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  line-height: 1;
  text-align: center;
  border: 2px solid;
  transition: all var(--transition);

  @include Hover {
    cursor: pointer;
  }
}
