/*
|--------------------------------------------------------------------------
| UtilityFauxLink
|--------------------------------------------------------------------------
| @namespace: UtilityFauxLink
|
*/
@mixin UtilityFauxLink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
