/*
|--------------------------------------------------------------------------
| Hover
|--------------------------------------------------------------------------
| @namespace: Hover
|
*/

@mixin Hover() {
  @media (hover: hover) {

    &:hover {
      @content;
    }
  }
}
