/*
|--------------------------------------------------------------------------
| UtilityLockOverflow
|--------------------------------------------------------------------------
| @namespace: UtilityLockOverflow
|
*/
@mixin UtilityLockOverflow {
  height: 100vh;
  overflow: hidden;
}

.UtilityLockOverflow {
  @include UtilityLockOverflow;
}
