/*
|--------------------------------------------------------------------------
| Underline Animation
|--------------------------------------------------------------------------
| @namespace: UtilityUnderline
|
*/
@mixin UtilityUnderline {
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition);
    content: '';

    .header & {
      bottom: -0.25em;
    }
  }

  &:hover {
    cursor: pointer;

    &:after {
      transform: scaleX(1);
    }
  }
}
