/*
|--------------------------------------------------------------------------
| ScreenReaderOnly
|--------------------------------------------------------------------------
| @namespace: ScreenReaderOnly
|
*/

@mixin UtilityScreenReaderOnly() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.UtilityScreenReader {
  @include UtilityScreenReaderOnly;
}

.UtilityHidden {
  visibility: hidden;
}

.UtilityHiddenBlur {
  filter: blur(100px);
}

[data-appear] {
  opacity: 0;
}

